/*
  * Layout style
*/

.theme-bg {
  background: linear-gradient(93.5deg, #F8124B 18.71%, #FE2C2D 83.26%);
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page-cont {
  position: absolute;
  top: 4.8rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 9;
}

.header {
  position: fixed;
  height: 4.8rem;
  top: 0;
  left: 0;
  right: 0;
  @extend .theme-bg;
  box-shadow: 0 .5rem .7rem rgba(#f81547, .12);
  z-index: 999;
}

.page-panel {
  position: relative;
  width: 92vw;
  margin: 2rem 4vw;
}

.flex-column {
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  .col-item {
    width: 100%;
    margin: 0 1rem 0 0;
    padding: 0 0 0 1rem;
    .d,.t {
      width: auto;
      text-align: center;
    }
  }
}

// 进度面板
.process-panel {
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  @extend .theme-bg;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-radius: .4rem;
  div {
    margin: 0 1rem;
    font-size: 1.3rem;
    color: #fff;
    span {
      padding: 0 .3rem;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
    }
  }
}

// 值数字
.d {
  font-family: RB;
}
.d.dn {
  color: #02B075;
}
.d.up {
  color: #E63C39;
}
// 日期数字
.dd {
  font-family: RM;
}

// 通用面板标题
.panel-title {
  padding-left: .2rem;
  height: 2rem;
  line-height: 2rem;
  i,span {
    display: inline-block;
    vertical-align: middle;
  }
  i {
    display: inline-block;
    width: .4rem;
    height: 1.7rem;
    @extend .theme-bg;
    box-shadow: 0px 0px 4px rgba(254, 43, 47, 0.3);
    border-radius: .2rem;
  }
  span {
    padding: 0 0 0 .6rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #000;
  }
}

// 内容切换标题
.tab-panel {
  ul {
    li {
      padding: .5rem 1rem;
      white-space: nowrap;
      font-size: 1.3rem;
    }
    li.current {
      @extend .theme-bg;
      border-radius: 1.5rem;
      color: #fff;
    }
  }
}

// 记录列表
.list-panel {
  ul {
    margin-bottom: 2rem;
    li:first-of-type {
      padding-top: 0;
    }
    li {
      padding: 1.5rem .6rem 1rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      border-bottom: 1px solid rgba(#000, .15);
      color: rgba(#000, .4);
      .t {
        width: 60%;
        p:first-of-type {
          font-weight: bold;
          color: #000;
        }
      }
      .c,.d,.dd {
        width: 20%;
        text-align: right;
        padding-left: .5rem;
      }
      p {
        height: 1.6rem;
        line-height: 1.6rem;
        font-size: 1.4rem;
        padding-bottom: .5rem;
        color: inherit;
        white-space: nowrap;
      }
      p.up {
        color: #E63C39;
      }
      p.dn {
        color: #02B075;
      }
    }
  }
}

// 按钮
.button-large {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  @extend .theme-bg;
  box-shadow: 0px 4px 8px rgba(254, 43, 47, 0.3);
  border-radius: 5rem;
}